{{# each products }}
  <div class="row">
    {{# each this}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src={{this.imagePath}} alt="..." class="">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="descripion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium optio ipsum, incidunt explicabo rerum dolores qui odit mollitia laboriosam maxime exercitationem nam necessitatibus eveniet tempore itaque repudiandae facilis soluta. Nobis.</p>

            <div class="clearfix">
                <div class="price pull-left">$12</div>
                <a href="#" class="btn btn-success pull-right" role="button">Button</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
{{/each}}

